NODE_ENV=dev
DB=mongodb://localhost:27017/your-database-name
PORT=8080
CLIENT=http://localhost:5173
AUTH_SECRET=generate-with-node-crypto-randomBytes-64
AWS_ACCESS_KEY_ID=your-aws-access-key-id
AWS_SECRET_ACCESS_KEY=your-aws-secret-access-key
S3_BUCKET=your-bucket-name
REGION=ap-southeast-1
S3_URL=https://your-bucket.s3.region.amazonaws.com
SERVER=http://localhost:8080
TWILIO_SID=your-twilio-sid
TWILIO_AUTH_TOKEN=your-twilio-auth-token